# Configuración de pnpm

# Hoist solo los patrones necesarios para Next.js
shamefully-hoist=false
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*

# Desactiva las actualizaciones automáticas de pnpm
auto-install-peers=true

# Mejor rendimiento
prefer-offline=true
strict-peer-dependencies=false

# Almacén global
store-dir=~/.pnpm-store

